html {
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
.main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.header {
    align-self: center;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    margin-top: 1rem;
}
.selected {
    background-color: grey;
    color: white;
}
.random {
    grid-column: 1;
}
.random, .generate {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}
.generate {
    grid-column: 3;
}
.grid {
    color: black;
    grid-column: 2;
    margin-top: 5rem;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
}
.card {
    height: 8rem;
    width: 8rem;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.red {
    background-color: rgb(254, 0, 36);
}
.yellow {
    background-color: rgb(254, 220, 1);
}
.orange {
    background-color: rgb(255, 71, 0);
}
.pink {
    background-color: rgb(255, 1, 152);
}
.purple {
    background-color: rgb(131, 8, 255);
}
.blue {
    background-color: rgb(1, 94, 209);
}
.turquoise {
    background-color: rgb(64, 224, 208);
    font-size: 1.4rem;
}
.darkred {
    background-color: rgb(139, 0, 0);
}
.lightblue {
    background-color: rgb(90, 200, 215);
}
.selected {
    background-color: grey;
    color: white;
}
@media (max-width: 900px) {
    .main {
        display: block;
    }
    .generate, .random {
        margin-top: 1rem;
    }
    .grid {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        max-width: 100%;
    }
    .card {
        height: 6rem;
        width: 6rem;
        font-size: 1.2rem;
    }
    .turquoise {
        font-size: 1.05rem; 
    }
}
